*{
  margin: 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
  background-image: url("../image/backg.png");
}

.grid-container{
  display: grid;
  grid-template-areas: 
  "logo header header"
  "logo h2 h2"
  "logo main photo"
  "footer footer footer";
  grid-template-columns:39vh auto auto;
  grid-template-rows: 15vh 10vh auto auto;
}
  
header{
  grid-area:header;
    background-color: #033949;
    padding: 2.7vh;
    font-size: 5vh;
    color:white;
    text-align: left;
    border-bottom: #A4FF4A 1vh solid;
    text-shadow: 3px 3px 2px black;
    box-shadow: 1px 1px 10px black;
  }

h2{
  grid-area:h2;
  background-color: #033949;
  padding: 1.5%;
  padding-left:12vh;
  font-size: 6.5vh;
  color:white;
  text-align: left;
  border-bottom: #A4FF4A 0.5vh solid;
  text-shadow: 3px 3px 2px black;
  box-shadow: 1px 1px 10px black;
}


#logo{
  grid-area: logo;
  display: inline-block;
  position: absolute;
  background-image: url(../image/cesped2.jpg) ;
  background-attachment: fixed;
  background-repeat: no-repeat; 
  padding: 4vh;
  width: 30vh;
  padding-bottom: 400%;
 border-right: #A4FF4A 1vh solid;
}

.bar>a {
  display: block;
  font-size: 20px;
  text-decoration: none;
  text-transform:uppercase;
  text-align: center;
  color: white;
  font-size: 3vh;
  width:40vh;
  margin-bottom: 4vh;
  padding: 1vh;
  border-top: #A4FF4A 2px solid;
  background-color: #033949;
  text-shadow: 2px 2px black;
  box-shadow: 4px 3px 12px black;
  position: relative;
  top: 30vh;
}

#buttom>a{
  position:absolute;
  top:22vh;
  right:10vh;
  font-size: 20px;
  text-decoration: none;
  text-transform:uppercase;
  text-align: center;
  color: black;
  font-size: 3vh;
  width:30vh;
  padding: 1vh;
  box-shadow: 4px 3px 12px black;
  background-color:#A4FF4A; 
}
.active {
  background-color: green;
}

main {
  grid-area: main;
  position: relative;
  font-size:3vh;
  width: 90vh;
  margin: 5vh;
  padding: 3vh;
  color: white;
  background: #033949;
  text-shadow: 2px 2px  5px black;
  border : #A4FF4A 3px solid;
  box-shadow: 1px 1px 10px black;
}
aside{
  padding-bottom: 10px;
}

.photo{
float: right;
margin: 5vh;
margin-right: 10vh;
border:#A4FF4A 3px solid;
box-shadow: 1px 1px 10px black;
}

footer{
grid-area:footer;
position: fixed;
bottom: 0;
 width: 100%;
 padding: 1vh;
 background: #033949;
 color:white;
 font-size:3vh;
 text-align: center;
 border-top: #A4FF4A 1vh solid;
 text-shadow: 3px 3px 2px black;
}

#tabla{
  width:130vh;
}

table{
width: 120vh;
margin: 5px;
 }

 table tr:hover{
  background-color: rgba(225, 225, 225, 0.63);
  color: black;
}
 tr{
   line-height: 1.5; 
 }

   td{
    border:white 1px solid;
   }
 
 th{
   border:white 1px solid;
   text-align: left;
   text-decoration: underline;
   }
   caption{
    text-align: left;
    border:white 1px solid;
   }
  h4{
    text-align:center;
    font-size: 5vh;
  }
  #rules{
  font-weight: 3h;
  line-height: 4vh;
  text-align: justify;
  }

.form_box{
  padding: 1vh;
}
