* {
  margin: 0px;
  padding: 0px;
}

header {
  color: black;
  font-size: 3vh;
  height: 400px;
  background-image: url("../image/design2_image1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 85%;
  background-position: bottom;
}

h1{
  padding: 1vh;
}

h2 {
  width: 100%;
  background-color: black;
  color: white;
  background-size: cover;
  text-align: center;
}

nav>a {
  margin: 5px;
  padding: 10px;
  border: 3px black solid;
  font-size: 15px;
  height: 23px;
  width: 100px;
  color: white;
  text-decoration: none;
  background-color: blue;
  box-shadow: 5px 5px black;
}
.active {
  background-color: green;
}

nav{
  position: absolute;
  top: 9%;
  right: 10%;
}

#logo {
  display: inline-block;
  width: 15%;
  padding: 20px;
}

main {
  padding: 2%;
  margin-left: 10%;
  display: inline;
  position: absolute;
  font-size: 3vh;
}
aside {
  margin-bottom: 20px;
}

.photo{
  display: none;
}
footer{
  display: none
}

